@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #3ead42, #2897f3);
}

.container {
    text-align: center;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 450px;
}

.weather-card h1 {
    color: green;
    font-size: 45px;
}

#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#city-input:focus {
    outline: none;
    border-color: #3ead42;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn {
    background: #3d9ae6;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease all;
    color: #fff;
}

#city-input-btn:hover {
    background-color: rgb(17, 93, 180);
}

#weather-info {
    display: none;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

#description {
    font-size: 18px;
    margin-bottom: 10px;
}

#wind-speed {
    font-size: 16px;
    color: rgb(255, 0, 0);
}

#date {
    font-size: 14px;
    color: rgb(255, 0, 0);
}

@media (max-width: 480px) {
    .weather-card {
        width: 90%; 
        padding: 15px;
        margin: 0 20px;
    }

    .weather-card h1 {
        font-size: 32px; 
    }

    .weather-card h3 {
        font-size: 18px;
    }

    #city-input {
        width: 80%; 
        margin-bottom: 10px;
        padding: 12px;
    }

    #city-input-btn {
        font-size: 14px;
        width: 50%; 
        padding: 8px;
    }

    #temperature {
        font-size: 35px; 
    }

    #weather-icon {
        width: 80px;
        height: 80px;
    }
}